body {
    font-family: "Montserrat", "微软雅黑";
    font-weight: 400;
    font-size: 16px;
    word-spacing: 1px;
    color: #666;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #444;
}
h1 {
    font-size: 32px;
    margin: 0 0 45px;
}
h2 {
    position: relative;
    font-size: 24px;
    padding-left: 15px;
}
h3 {
    font-size: 1.17em;
    color: #f66;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
h4 {
    margin: 15px 0;
}
h2:before {
    content: '';
    width: 5px;
    background: #f66;
    position: absolute;
    left: 0px;
    height: 75%;
    top: 12%;
}
blockquote {
    margin: 2em 0;
    padding-left: 30px;
    border-left: 10px solid #e6e6e6;
}
p {
    line-height: 1.8em;
}
li {
    line-height: 1.8em;
}
a {
    text-decoration: none;
    color: #f66;
    border-bottom: 2px solid transparent;
}
a:hover {
    color: #f33;
    border-bottom-color: #f33;
}